body {
    background-image: url('back.jpg');
    background-size: 100%;
    background-attachment: fixed;
  
    height: 700px;
  }
  
/*.container {
  width:335px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }*/
.space {
    padding: 5px;
    margin-left: 10px;
}


